.App {
  text-align: center;
}

.App-header {
  background-color:#201b42;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-gap: 5px;
  width: 98vw;
}

.width-auto {
  width: auto;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
}

.small {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 3px;
}

.button:hover {background-color: #3e8e41}


.footer {
  padding-bottom: 100px;
}

.marginRight {
  padding-right: 30px;
}

.ace-dracula .ace_meta.ace_tag {
  color: #F92672;
}
.ace-dracula .ace_keyword {
  color: #F92672 !important;
}

.ace-dracula .ace_marker-layer .ace_selection {
  background: #9194a2 !important;
}